<app-exec-svg></app-exec-svg>

<div class='wrapper'>

  <header class='header' *ngIf='execBean.displayHeader'>
    <svg class='header-ico'>
      <title>{{execBean.title}}</title>
      <use xlink:href="#ExecIcon"></use>
    </svg>
    <span class='header-title'>{{execBean.title}}</span>
    <svg class='header-infos'>
      <title>{{execBean.description}}</title>
      <use xlink:href="#Question"></use>
    </svg>

  </header>

  <!-- Tabulation des fichiers + options de fichiers -->
  <nav class='tabs-wrapper' >
    <ol *ngIf='execBean.displayFilesName' class='tabs'>
      <li *ngFor='let file of execBean.currentFiles'
          (click)='onClickFile(file)'
          class='tab' [ngClass]='{
            "active":execBean.selectedFile===file
          }'
      >
        <span *ngIf='!execBean.inFilesEdition'
              class='tab-title' [title]='file.name'>
          {{file.name}}
        </span>

        <form class='tab-editWrapper' (submit)="onSubmitFileName(file)">
          <input title='Nom du fichier'
                 name='fileName'
                 class='tab-editTitle {{file.inputTagName}}' *ngIf='execBean.inFilesEdition'
                 type='text' [(ngModel)]='file.name'/>

          <svg *ngIf='execBean.inFilesEdition '
               (click)='onClickDelete(file)'
               class='tab-delIcon'>
            <title>Supprimer le fichier</title>
            <use xlink:href="#Delete"></use>
          </svg>
        </form>

      </li>
    </ol>
    <span *ngIf='execBean.displayFilesName' class='tabs-opts'>

        <svg *ngIf="execBean.displayEditFiles"
             (click)='onClickEdit()'
             class='tabs-editIcon'>
            <title>Modification des fichiers</title>
            <use xlink:href="#Settings"></use>
        </svg>
        <svg *ngIf='execBean.inFilesEdition'
             (click)='onClickReset()'
             class='tabs-resetIcon'>
            <title>Reset</title>
            <use xlink:href="#Reset"></use>
        </svg>
        <svg *ngIf='execBean.inFilesEdition'
             (click)='onClickAdd()'
             class='tabs-addIcon'>
            <title>Ajouter un fichier</title>
            <use xlink:href="#Add"></use>
        </svg>

    </span>

  </nav>

  <!-- Affichage d'une marge pour remplacer le nom des fichiers -->
  <div class='tabs-hidden' *ngIf='!execBean.displayFilesName'></div>

  <div class='editors-wrapper'>
    <div class='editor-wrapper' *ngFor='let file of execBean.currentFiles'
         [ngClass]='{ "active": execBean.selectedFile===file}'>
      <span class='editor' *ngIf='execBean.selectedFile===file'>
      <app-code-mirror
        [(value)]='execBean.selectedFile.content'
        [options]='execBean.selectedFile.codeMirrorOpts'></app-code-mirror>
      </span>
    </div>
  </div>

  <div class='footer' *ngIf='execBean.displayExecution'>

    <div class='footer-btns'>
      <button *ngIf='!execBean.inExecution'
              class='footer-btnStart'
              (click)='onClickExec()'>
        <span class='footer-btnStartLabel'>Execution</span>
        <svg class='footer-btnStartIco'>
          <title>Execution</title>
          <use xlink:href="#Play"></use>
        </svg>
      </button>
      <button *ngIf='execBean.inExecution'
              class='footer-btnStop'
              (click)='onClickStop()'>
        <span class='footer-btnStopLabel'>Annuler</span>
        <svg class='footer-btnStopIco'>
          <title>Annuler</title>
          <use xlink:href="#Stop"></use>
        </svg>
      </button>
    </div>
    <div class='console-wrapper'>
      <div class='console'>
      <pre *ngFor='let log of logs' class='log' [ngClass]='{
        "error":log.isError,
        "info":log.isInfo
      }'>{{log.message}}</pre>
      </div>
    </div>

  </div>


</div>



